{% set settingsSubnavItems = {
    'general': { label: 'settings.general.label'|t('beacon'), url: cpUrl('beacon/settings/general') },
    'robots': { label: 'settings.robots.label'|t('beacon'), url: cpUrl('beacon/settings/robots') },
    'content': { label: 'settings.content.defaults.label'|t('beacon'), url: cpUrl('beacon/settings/content') },
    'organization': { label: 'settings.organization.label'|t('beacon'), url: cpUrl('beacon/settings/organization') },
    'social': { label: 'settings.social.label'|t('beacon'), url: cpUrl('beacon/settings/social') },
    'authors': { label: 'nav.authors'|t('beacon'), url: cpUrl('beacon/settings/authors') },
    'geo': { label: 'settings.geo.label'|t('beacon'), url: cpUrl('beacon/settings/geo') },
    'ai': { label: 'settings.ai.label'|t('beacon'), url: cpUrl('beacon/settings/ai') },
} %}

<nav id="settings-nav">
    <ul>
        {% for key, item in settingsSubnavItems %}
            <li>
                <a href="{{ item.url }}" class="{% if key == selectedSettingsSubnavItem %}sel{% endif %}">
                    {{ item.label }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
