{% import '_includes/forms.twig' as forms %}
<div class="warning">
    {{ 'tracking.custom.script.emitted.verbatim.only.enter.text'|t('beacon') }}
</div>
{{ forms.textareaField({
    label: 'tracking.custom.config.html..label'|t('beacon'),
    name: 'config[html]',
    value: script.config.html ?? '',
    rows: 8,
    placeholder: 'tracking.custom.config.html..placeholder'|t('beacon'),
    required: true,
    errors: script.getErrors('config.html'),
}) }}
