{% set crawlerTabs = {
    'ai-crawlers': { label: 'crawlers.ai.crawlers.label'|t('beacon'), url: cpUrl('beacon/crawlers/ai-crawlers') },
    'llms-txt': { label: 'crawlers.llms.txt.label'|t('beacon'), url: cpUrl('beacon/crawlers/llms-txt') },
    'robots': { label: 'crawlers.robots.txt.label'|t('beacon'), url: cpUrl('beacon/crawlers/robots') },
    'humans-txt': { label: 'crawlers.humans.txt.label'|t('beacon'), url: cpUrl('beacon/crawlers/humans-txt') },
    'ads-txt': { label: 'crawlers.ads.txt.label'|t('beacon'), url: cpUrl('beacon/crawlers/ads-txt') },
} %}

<nav id="crawlers-nav">
    <ul>
        {% for key, item in crawlerTabs %}
            <li>
                <a href="{{ item.url }}" class="{% if key == selectedCrawlerTab %}sel{% endif %}">{{ item.label }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
