{% import "_includes/forms.twig" as forms %}

<h2 class="heading first">{{ 'settings.authors.public.author.profiles.heading'|t('beacon') }}</h2>
<p class="light">{{ 'settings.authors.publish.crawlable.page.per.author.text'|t('beacon') }}</p>
<hr>

{{ forms.lightswitchField({
    label: 'settings.authors.authorPagesEnabled.label'|t('beacon'),
    instructions: 'settings.authors.authorPagesEnabled.instructions'|t('beacon'),
    name: 'authorPagesEnabled',
    on: settings.authorPagesEnabled,
    first: true,
}) }}

{{ forms.textField({
    label: 'settings.authors.authorPagesUriPrefix.label'|t('beacon'),
    instructions: 'settings.authors.authorPagesUriPrefix.instructions'|t('beacon'),
    name: 'authorPagesUriPrefix',
    value: settings.authorPagesUriPrefix,
    placeholder: 'settings.authors.authorPagesUriPrefix.placeholder'|t('beacon'),
}) }}
